/* Styles related to the WP admin bar */
#wpadminbar #wp-admin-bar-wpmudev-chat-user-friends span.wpmudev-chat-friend-avatar img {
	height: 20px;
	width: 20px;
}
#wpadminbar #wp-admin-bar-wpmudev-chat-container div.ab-sub-wrapper li#wp-admin-bar-wpmudev-chat-user-statuses div.ab-item span.wpmudev-chat-user-status-label {
	color: inherit;
	text-shadow: none;
	cursor: pointer;
}

body.mp6 #wpadminbar li#wp-admin-bar-wpmudev-chat-container:hover span.wpmudev-chat-ab-label,
body.mp6 #wpadminbar #wp-admin-bar-wpmudev-chat-container div.ab-sub-wrapper li#wp-admin-bar-wpmudev-chat-user-statuses div.ab-item span.wpmudev-chat-user-status-label {	     	 	 	  	  		
	color: inherit;
}

#wpadminbar li#wp-admin-bar-wpmudev-chat-container li.wpmudev-chat-user-status-current {
	display: none;
}

body.buddypress ul#members-list div.action div.wpmudev-chat-now-button {
	margin-bottom: 5px;
}

body.buddypress ul#member-list div.action div.wpmudev-chat-now-button {
	margin-top: 5px;
}

body.buddypress ul#members-list div.action div.wpmudev-chat-now-button a.wpmudev-chat-button,
body.buddypress ul#member-list div.action div.wpmudev-chat-now-button a.wpmudev-chat-button {
	display: block;
}


/* 133620-1470955187-au */