 
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/**
 * Basics Styles
 */

a {
  text-decoration: none;
  color: #3498db;
}
  a:hover {
    color: #2980b9;
  }

h1 {
  line-height: 1.6;
  margin-bottom: 1.6rem;
}

h2 {
  line-height: 1.2;
  margin-bottom: 1.6rem;
}

.wrapper {
  padding-left: 1em;
  padding-right: 1em;
}

/**
 * Helpers
 */
.border-tlr-radius { 
  border-top-left-radius: 2px;
  border-top-right-radius: 2px; 
}

.text-center { text-align: center; }

.radius { border-radius: 2px; }

.padding-tb { padding-top: 1.6rem; padding-bottom: 1.6rem;}

.shadowDepth0 { box-shadow: 0 1px 3px rgba(0,0,0, 0.12); }

.shadowDepth1 {
   box-shadow: 
      0 1px 3px rgba(0,0,0, 0.12),
      0 1px 2px rgba(0,0,0, 0.24);      
}


/**
 * Card Styles
 */

.card {
  background-color: #fff;
  margin-bottom: 1.6rem;
}

.card__padding {
  padding: 1.6rem;
}
 
.card__image {
  min-height: 100px;
  background-color: #eee;
}
  .card__image img {
    width: 100%;
    max-width: 100%;
    display: block;
  }

.card__content {
  position: relative;
}

/* card meta */
.card__meta time {
  font-size: 1.5rem;
  color: #bbb;
 /*margin-left: 0.8rem;*/
}

/* card article */
.card__article a {
  text-decoration: none;
  color: #444;
  text-overflow: ellipsis;
  transition: all 0.5s ease;
}
  .card__article a:hover {
    color: #2980b9;
  }

/* card action */
.card__action {
  overflow: hidden;
  padding-right: 1.6rem;
  padding-left: 1.6rem;
  padding-bottom: 1.6rem;
}
   
.card__author {}

  .card__author img,
  .card__author-content {
    display: inline-block;
    vertical-align: middle;
  }

  .card__author img{
    border-radius: 50%;
    margin-right: 0.6em;
  }

.card__share {
  float: right;
  position: relative;
  margin-top: -42px;
}

.card__social {
  position: absolute;
  top: 0;
  right: 0;
  visibility: hidden;
  width: 318px;
  transform: translateZ(0);
    transform: translateX(0px);
    transition: transform 0.35s ease;
}
  .card__social--active {
    visibility: visible;
    /*z-index: 3;*/
    transform: translateZ(0);
    transform: translateX(-48px);
      transition: transform 0.35s ease;
  }
}

.card__social_me {
  position: absolute;
  top: 0;
  right: 0;
  visibility: hidden;
  width: 210px;
  transform: translateZ(0);
    transform: translateX(0px);
    transition: transform 0.35s ease;
  }

  .card__social_me--active {
    visibility: visible;
    /*z-index: 3;*/
    transform: translateZ(0);
    transform: translateX(-48px);
      transition: transform 0.35s ease;
  }

}

.share-toggle {
  z-index: 2;
}
.share-toggle:before {
  content: "\f1e0";
  font-family: 'FontAwesome';
  color: #3498db;
}
  .share-toggle.share-expanded:before {
    content: "\f00d";
  }

.share-icon {
  display: inline-block;
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  border-radius: 50%;
  background-color: #fff;
  transition: all 0.3s ease;
  outline: 0;

  box-shadow: 
        0 2px 4px rgba(0,0,0, 0.12),
        0 2px 4px rgba(0,0,0, 0.24);
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 400px) {
  .share-icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  line-height: 32px;
}
.card__social {
  width: 215px;
}
}
  .share-icon:hover,
  .share-icon:focus {
    box-shadow: 
        0 3px 6px rgba(0,0,0, 0.12),
        0 3px 6px rgba(0,0,0, 0.24);

      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2);
  }

.facebook {
  background-color: #3b5998; 
}
.twitter {
  background-color: #00aced; 
}
.instagram {
  background-color: #bc2a8d;
}
.googleplus {
  background-color: #dd4b39;
}
.whatsapp {
  background-color: #128c7e;
}
.email {
  background-color: #eee;
}
.phone {
  background-color: #eee;
}
.website {
  background-color: #e0ffff;
}
.facebook,
.twitter,
.instagram,
.googleplus,
.whatsapp {
  color: #fff;
}
.email {
  color: #008080;
}

.phone {
  color: #000
}

.website {
  color: #008b8b;
}

  .facebook:hover,
  .twitter:hover,
  .instagram:hover,
  .googleplus:hover,
  .whatsapp:hover,
  .email:hover {
    color: #eee;
  }

.alignleft {
  float: left;
}

.alignright {
  float: right;
  text-align: right;
}

.alignbottom {
  vertical-align: bottom;
  position: absolute;
}

.copyright {
  padding-left: 3%;
  text-align: left;
}

.attribution {
  padding-right: 3%;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 400px) {
  .attribution {
  display: none;
}
  .copyright {
    text-align: center;
  }
}

.strokeme
{
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    
}

.add-button {
      position: fixed;
      display: block;
      right: 0;
      bottom: 0;
      margin-right: 5%;
      margin-bottom: 5%;
      z-index: 1;
    }

.flush {
  padding-top: 15%;
  margin: auto;
  display: block;
}

 @media screen and (max-width: 480px) {
.flush {
  display: none; } }


.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url('../../assets/images/loader.gif') 50% 50% no-repeat rgb(249,249,249);
}

#myBtn {
    margin: auto;
    }
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: #ffffff;
    float: right;
    font-size: 32px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #ff5252;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #008b8b;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}