/*--------------------------------------------------------------
# Include partials
--------------------------------------------------------------*/
/* line 3, /Users/bradwilliams/Documents/Brag/Development/Jabali Development/main/plugins/ese-login/includes/sass/partials/_form.scss */
.page-template-page-login .site-header,
.page-template-page-login .mdl-mega-footer {
  display: none; }

/* line 8, /Users/bradwilliams/Documents/Brag/Development/Jabali Development/main/plugins/ese-login/includes/sass/partials/_form.scss */
.login-card {
  width: 330px;
  margin: 0 auto;
  padding-top: 8%; }
  /* line 13, /Users/bradwilliams/Documents/Brag/Development/Jabali Development/main/plugins/ese-login/includes/sass/partials/_form.scss */
  .login-card .mdl-button {
    float: right; }
  /* line 17, /Users/bradwilliams/Documents/Brag/Development/Jabali Development/main/plugins/ese-login/includes/sass/partials/_form.scss */
  .login-card .mdlf-login-card {
    min-width: 330px; }
  /* line 21, /Users/bradwilliams/Documents/Brag/Development/Jabali Development/main/plugins/ese-login/includes/sass/partials/_form.scss */
  .login-card .mdl-card__title {
    background-size: cover;
    background-position: center; }
  /* line 29, /Users/bradwilliams/Documents/Brag/Development/Jabali Development/main/plugins/ese-login/includes/sass/partials/_form.scss */
  .login-card .mdl-card__actions {
    margin-top: 10px;
    padding: 12px; }
    /* line 34, /Users/bradwilliams/Documents/Brag/Development/Jabali Development/main/plugins/ese-login/includes/sass/partials/_form.scss */
    .login-card .mdl-card__actions .mdlf_lost_password,
    .login-card .mdl-card__actions .mdlf_new_register {
      text-transform: uppercase;
      font-size: 12px;
      display: inline-block; }
      /* line 39, /Users/bradwilliams/Documents/Brag/Development/Jabali Development/main/plugins/ese-login/includes/sass/partials/_form.scss */
      .login-card .mdl-card__actions .mdlf_lost_password a,
      .login-card .mdl-card__actions .mdlf_new_register a {
        color: #b2b2b2;
        font-weight: 300;
        text-decoration: none; }
        /* line 44, /Users/bradwilliams/Documents/Brag/Development/Jabali Development/main/plugins/ese-login/includes/sass/partials/_form.scss */
        .login-card .mdl-card__actions .mdlf_lost_password a:hover,
        .login-card .mdl-card__actions .mdlf_new_register a:hover {
          text-decoration: underline; }
    /* line 51, /Users/bradwilliams/Documents/Brag/Development/Jabali Development/main/plugins/ese-login/includes/sass/partials/_form.scss */
    .login-card .mdl-card__actions .mdlf_new_register {
      float: right;
      margin-top: 4px; }

/* line 61, /Users/bradwilliams/Documents/Brag/Development/Jabali Development/main/plugins/ese-login/includes/sass/partials/_form.scss */
.mdlf-error .mdl-textfield__input, .mdlf-error.is-focused .mdl-textfield__input {
  border-color: #de3226;
  box-shadow: none;
  outline: none; }
  /* line 66, /Users/bradwilliams/Documents/Brag/Development/Jabali Development/main/plugins/ese-login/includes/sass/partials/_form.scss */
  .mdlf-error .mdl-textfield__input:focus {
    border-bottom: none;
    outline: none;
    box-shadow: none; }

/* line 73, /Users/bradwilliams/Documents/Brag/Development/Jabali Development/main/plugins/ese-login/includes/sass/partials/_form.scss */
.mdlf-error .mdl-textfield__label, .mdlf-error.is-focused .mdl-textfield__label {
  color: #de3226; }

/* line 77, /Users/bradwilliams/Documents/Brag/Development/Jabali Development/main/plugins/ese-login/includes/sass/partials/_form.scss */
.mdlf-error .mdl-textfield__error {
  visibility: visible; }

/* line 86, /Users/bradwilliams/Documents/Brag/Development/Jabali Development/main/plugins/ese-login/includes/sass/partials/_form.scss */
.mdlf-error.is-focused .mdl-textfield__input {
  outline: none; }

/* line 94, /Users/bradwilliams/Documents/Brag/Development/Jabali Development/main/plugins/ese-login/includes/sass/partials/_form.scss */
#lostpasswordform .mdl-textfield {
  margin-bottom: 10px; }

/*# sourceMappingURL=sass */